body{
  background-color: #FCC8D1;
  color: darkslategray;
  text-align: center;
  font-family: monospace;
}

/* Glowing Header */
/* .glow {
  text-align: center;
  width: 65%;
  height: 250px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
   user-select: none;
} */

.glow{
  background-color:#d14d72;
  border:3px solid #d14d72;
  
  font-size: 50px;
  color: #fee;
  text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #ff4444, 0 0 0.5em #ff4444, 0 0 0.1em #ff4444, 0 10px 3px #000;
}
.glow b span{
  animation: blink linear infinite 2s;
}
.glow b span:nth-of-type(2){
  animation: blink linear infinite 3s;
}
@keyframes blink {
  78% {
    color: inherit;
    text-shadow: inherit;
  }
  79%{
     color: #333;
  }
  80% {
    
    text-shadow: none;
  }
  81% {
    color: inherit;
    text-shadow: inherit;
  }
  82% {
    color: #333;
    text-shadow: none;
  }
  83% {
    color: inherit;
    text-shadow: inherit;
  }
  92% {
    color: #333;
    text-shadow: none;
  }
  92.5% {
    color: inherit;
    text-shadow: inherit;
  }
}

/* end glowing header */

li a {
  justify-content: space-evenly;
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  font-size: 25px;
  text-decoration: none;
  align-items: flex-end;
}
li a:hover {
  background-color: #D14D72; 
  border: 3px solid  #D14D72; 
  border-radius: 15px; 
}

  
.navBar{ 
    background-color:#d14d72;
    border:3px solid #d14d72 ;
    border-radius: 10px;
  }

    .ulBar{
      display: flex;
      justify-content: space-around; 
      color:black; 
      list-style-type: none;

    } 
    

    .factsSection{
      font-family:monospace;      
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    }
      h2{
        
      }
.facts{
  background-color: #ffabab;
  border: solid #ffabab 2px;
  border-radius: 50%;
  width: 300px;
  height: 300px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-around;
  margin: 10px;
}
.facts2{ 
  background-color:#FFABAB;
  border:100px solid #ffabab;
  border-radius: 50px;
  font-size:100%;
  width: 600px;
  height:200px
  margin:100px; 
  position:center;
  left: 700px;
  bottom:200px;
} 

 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "Poppins", sans-serif;
 }

 .chatbot-toggler {
   position: fixed;
   bottom: 30px;
   right: 35px;
   outline: none;
   border: none;
   height: 50px;
   width: 50px;
   display: flex;
   cursor: pointer;
   align-items: center;
   justify-content: center;
   border-radius: 50%;
   background: #D14D72;
   transition: all 0.2s ease;
 }
 body.show-chatbot .chatbot-toggler {
   transform: rotate(90deg);
 }
 .chatbot-toggler span {
   color: #fff;
   position: absolute;
 }
 .chatbot-toggler span:last-child,
 body.show-chatbot .chatbot-toggler span:first-child  {
   opacity: 0;
 }
 body.show-chatbot .chatbot-toggler span:last-child {
   opacity: 1;
 }
 .chatbot {
   position: fixed;
   right: 35px;
   bottom: 90px;
   width: 420px;
   background: #FCC8D1;
   border-radius: 15px;
   overflow: hidden;
   opacity: 0;
   pointer-events: none;
   transform: scale(0.5);
   transform-origin: bottom right;
   box-shadow: 0 0 128px 0 rgba(0,0,0,0.1),
               0 32px 64px -48px rgba(0,0,0,0.5);
   transition: all 0.1s ease;
 }
 body.show-chatbot .chatbot {
   opacity: 1;
   pointer-events: auto;
   transform: scale(1);
 }
 .chatbot header {
   padding: 16px 0;
   position: relative;
   text-align: center;
   color: #fff;
   background: #D14D72;
   box-shadow: 0 2px 10px rgba(0,0,0,0.1);
 }
 .chatbot header span {
   position: absolute;
   right: 15px;
   top: 50%;
   display: none;
   cursor: pointer;
   transform: translateY(-50%);
 }
 header h2 {
   font-size: 1.4rem;
 }
 .chatbot .chatbox {
   overflow-y: auto;
   height: 510px;
   padding: 30px 20px 100px;
 }
 .chatbot :where(.chatbox, textarea)::-webkit-scrollbar {
   width: 6px;
 }
 .chatbot :where(.chatbox, textarea)::-webkit-scrollbar-track {
   background: #fff;
   border-radius: 25px;
 }
 .chatbot :where(.chatbox, textarea)::-webkit-scrollbar-thumb {
   background: #FFABAB;
   border-radius: 25px;
 }
 .chatbox .chat {
   display: flex;
   list-style: none;
 }
 .chatbox .outgoing {
   margin: 20px 0;
   justify-content: flex-end;
 }
 .chatbox .incoming span {
   width: 32px;
   height: 32px;
   color: #fff;
   cursor: default;
   text-align: center;
   line-height: 32px;
   align-self: flex-end;
   background: #D14D72;
   border-radius: 4px;
   margin: 0 10px 7px 0;
 }
 .chatbox .chat p {
   white-space: pre-wrap;
   padding: 12px 16px;
   border-radius: 10px 10px 0 10px;
   max-width: 75%;
   color: #fff;
   font-size: 0.95rem;
   background: #D14D72;
 }
 .chatbox .incoming p {
   border-radius: 10px 10px 10px 0;
 }
 .chatbox .chat p.error {
   color: #721c24;
   background: #FFABAB;
 }
 .chatbox .incoming p {
   color: #000;
   background: #FFABAB;
 }
 .chatbot .chat-input {
   display: flex;
   gap: 5px;
   position: absolute;
   bottom: 0;
   width: 100%;
   background: #fff;
   padding: 3px 20px;
   border-top: 1px solid #ddd;
 }
 .chat-input textarea {
   height: 55px;
   width: 100%;
   border: none;
   outline: none;
   resize: none;
   max-height: 180px;
   padding: 15px 15px 15px 0;
   font-size: 0.95rem;
 }
 .chat-input span {
   align-self: flex-end;
   color: #D14D72;
   cursor: pointer;
   height: 55px;
   display: flex;
   align-items: center;
   visibility: hidden;
   font-size: 1.35rem;
 }
 .chat-input textarea:valid ~ span {
   visibility: visible;
 }
 @media (max-width: 490px) {
   .chatbot-toggler {
     right: 20px;
     bottom: 20px;
   }
   .chatbot {
     right: 0;
     bottom: 0;
     height: 100%;
     border-radius: 0;
     width: 100%;
   }
   .chatbot .chatbox {
     height: 90%;
     padding: 25px 15px 100px;
   }
   .chatbot .chat-input {
     padding: 5px 15px;
   }
   .chatbot header span {
     display: block;
   }
 }
